@media (min-width: 960px) {

    nav ul#primaryNav {
        display: flex;
        justify-content: flex-start;
      }
   

    nav ul li a {
        border: none;
      }
    
      .maincontainer {
        display: grid;
        grid-template-columns: 4fr 1fr;
      }

}