@media screen and (min-width: 900px) {
  .main{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-nav {
    flex-direction: row;
  }
  .washington {
    display: inline-block;
    margin-top: 0px;
  }

}
