/* form */




/*

.form-container form {
    padding: 16px;
    margin: 16px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
  }
  
  form label {
    display:block;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: left;
  }
  
  form input {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    margin: 10px 0px;
  }
  
  form input:required {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: red solid 5px;
  }
  
  form input:required:valid {
    border-left: green solid 5px;
  }
  
  
  
  form textarea {
    padding: 10px;
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
  }
  
  form select {
    border-radius: 4px;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
  }
  .signupBtn {
    margin-top: 16px;
    width: 100%;
    padding: 10px;
    background-color: #bc6c25;
    color: #fff;
    font-weight: bold;
  }
  */

form label.top, form div {
    display:block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input {
    display: block;
   font-size: 1rem;
   border: solid 1px #999;
   border-radius: 4px; 
   padding: .75rem;
   color: #555;
   width: 100%;
   max-width: 20rem;
   background-color: rgba(0,0,0,0.3); 
  }

  form label.sbs{
    display: block;
    padding: .75rem 0;
    color:#555;
  }

  form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: .75rem;
    padding: .75rem 1.5rem;
    margin: 10px 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
  }

  form label.top input:required {
    border-left: red solid 6px;
  }

  form label.top input:required:valid {
    border-left: green solid 6px;
  }

  form textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px; 
    width: 96%;
    padding: .75rem;

  }