* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
}

header,
main,
footer {
  margin: 0rem auto;
  max-width: 45rem;
  padding: 0.75rem;
}

header,
footer {
  background-color: rgb(0, 57, 79);
  color: #fff;
  text-align: center;
  border-radius: 0px;
  border: 1px solid #000;
}

footer {
  padding: 1.5rem 0rem;
}

header {
  padding: 0px;
  height: 100%;
  display: flex;
  position: relative;
  grid-template-columns: 35% auto;
  grid-template-rows: 8em;
  justify-items: left;
}

header > img {
  border-radius: 0px;
}

h1 {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  align-self: center;
  font-style: italic;
  text-shadow: 2px 2px #000;
  margin: 0.15rem;
  width: 100%;
}

h2 {
  font-size: 1rem;
  padding-left: 15px;
}

#lastupdate {
  font-size: 12px;
  color: yellow;
}
